#div_template {
    position: relative;
}

.counties :hover {
    fill: red;
}
  
.county-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}